.env

proteinortho/*/*
!proteinortho/*/*blast-graph

net/*
!net/results
!net/results_plus_TU

net/results/tmp/
net/results_plus_TU/tmp
tus_models_operon/

analysis/cytoscape/tmp/*
analysis/coreg/tmp/*

genomes/*diamond.dmnd
