.env

genomes/models/*diamond.dmnd
genomes/bacteria/
genomes/archaeal/

network/predicted_nets/archael/
network/predicted_nets/bacteria/
network/predicted_nets/models/*
!network/predicted_nets/models/results_plus_TU

network/predicted_nets/models/results_plus_TU/tmp/*

proteinortho/models/*/*
!proteinortho/models/*/*blast-graph

proteinortho/archael
proteinortho/bacteria

tus/.operon_mapper_tus_raw_models

analysis/models/cytoscape/tmp/*
analysis/models/coreg/tmp/*

tus/moreno_models/models/.retrieve_moreron_tus_models.sh
tus/moreno_models/archaeal
tus/moreno_models/bacteria

scripts/experimental_/others
